/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */
h1, h2, h3, h4, h5, h6 {
    border-left: none !important;
    box-shadow: none !important;
    padding-left: 20px !important;
}
